.not-found {
  text-align: center;
  height: 100vh;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.not-found .wrapper {
  /* width: 300px;
  height: 300px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.not-found .wrapper > * {
  padding: 1rem;
  margin: 0;
}
.not-found h1 {
  font-size: calc(24px + 2vmin);
}
.not-found p {
  font-size: calc(12px + 1vmin);
}

.NotFound-link, .NotFound-link:visited {
  color: #61dafb;
  text-decoration: none;
  font-weight: 700;
  font-size: calc(12px + 0.75vmin);
}
